
/* 스팟 버튼 */
.ly-spot {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: absolute;
}

/* 모바일에서만 노출 */
.ly-spot.mobile {
    display: none;
}

.spot-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2.9rem;
    height: 2.9rem;
    background-color: #fffa04;
    background-clip: padding-box;
    border: .5rem solid hsla(0,0%,100%,.5);
    border-color: rgba(255,250,4,.5);
    margin-right: 1rem;
}

.spot-header .icon {
    margin: 0px;
    padding: 0px;
    width: .95rem;
    height: .95rem;
}

.spot-content {
    display: flex;
    width: 10.3rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    background-color: #fff;
}

.spot-content .spot-label {
    width: 100%;
    padding: 1rem;
    -webkit-transform: translateX(-.4rem);
    transform: translateX(-.4rem);
    background-color: #ffed00;
    font-size: .9rem;
    line-height: 105%;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    font-weight: bold;
}

.spot-content .arrow-next {
    display: none;
}

/* 퀵 메뉴 버튼 */
.ly-quick-access {
    width: 20rem;
    display: inline-block;
    position: absolute;
    top: 5rem;
    right: 10rem;
}

.nav-header {
    display: flex;
    flex-direction: row;
    padding: .7rem 1rem;
    background: #fffa04;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dadada;
    cursor: pointer;
    width: 100%;
    position:relative;
}

.nav-header .title { font-size: .8rem; font-weight: bold; }
.nav-header .icon { font-size: 1.2rem; color: red; }
.nav-content {
    padding: .5rem 1rem;
    margin: 0px;
    background: #dadada;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
    border: 1px solid #dadada;
}

.nav-content .panel {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.nav-content .panel li{
    line-height: 2rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.nav-content .panel .icon {
    font-size: 1rem; color: red; margin-right: 5px;
}

/* Contact 영역 */
.ly-contact {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    background-color: #ffed00;
    z-index: 9999;
    border: 1px solid #dadada;
 }

 .contact-wrap {
     display: flex;
     flex-direction: column;
     list-style: none;
     margin: 0px;
     padding: 0px;
 }

 .contact-wrap .contact-cell {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 4.3rem;
     padding: 1rem .8rem;
     cursor: pointer;
 }

 .contact-wrap .contact-cell .icon-box {
    width: 1.8rem;
    margin-bottom: .3rem;
 }

 .contact-wrap .contact-cell .icon-box.big {
    width: 2rem;
    margin-bottom: .4rem;
 }

 .contact-wrap .contact-cell .desc{
     font-size: .8rem;
 }

 .line { width: 70%; border-top: 1px solid #555; margin: 0 auto; }


 /* 배경색 추가 */
.bg-incentive { background-color: #339966 !important; border-color: rgba(51,153,102,.5) !important; }
.bg-infra { background-color: #333366 !important; border-color: rgba(51,51,102,.5) !important; }
.bg-service { background-color: #009999 !important; border-color: rgba(0,153,153,.5) !important; }


/* 뒤로가기 버튼 */
.back_area {
    position: absolute;
    top: 5rem;
    left: 0;
    background: #ffed00;
    z-index: 9999;
    display: flex;
    padding: 0.4rem 1rem;
}

.back_area.only_mobile {
    display: none;
}

.back_area .btn_back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.back_area .btn_back .arrow-back {
    width: 1rem;
    transform: rotateY(180deg);
}

.back_area .btn_back .desc {
    font-size: 10pt;
    font-weight: bold;
    margin-left: .2rem;
}

.back_area .btn_back .plus-back {
    display: none;
}

/* 스마트 테크존 전용 */
.page-content.mobile {display: none;}
.page-content.pc {
    width: 20rem;
    position: absolute;
    top: 10vh;
    right: 10vw;
    background-color: #ffed00;
    z-index: 9999;
    border: 1px solid #dadada;
}