@charset "UTF-8";

@font-face {
    font-family: 'MICEGothic';
    src: url('font/MICEGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'MICEGothic';
    src: url('font/MICEGothic\ Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
