@media screen and (min-width:1250px) {
    #pdtViewer img {
        object-position: 45% center;
    }
}


@media screen and (max-width:1250px) {

    body {
        overflow-y: auto;
    }

	#pdtViewer {
        width: 100%;
        height: unset;
    }

    #pdtViewer img {
        width: 100%;
        height: unset;
        object-position: 25% center;
    }

    

    .navigation {
        width: 100%;
        height: unset;
        /* top: 13rem; */
        position: relative;
        bottom: unset;
        left: unset;
        transform: unset;
    }

    .navFrameDiv .navText { font-size: 0.7rem; margin: 0 2rem; }
    .navFrameDiv .navLeft { font-size: 2rem; }
    .navFrameDiv .navRight { font-size: 2rem; }

    .float_area {
        position:relative;
        background: #dadada;
        padding: .5rem 0rem;
        text-align: center;
    }

    .ly-spot {
        position: relative;
        width: 95%;
        padding: .5rem 0rem;
    }

    .ly-spot.mobile {
        display: inline-flex;
    }

    .ly-spot .spot-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 2.9rem;
        height: 2.7rem;
        background-color: #fffa04;
        border: none;
        margin-right: 1rem;
    }

    .ly-spot .spot-header .icon {
        margin: 0px;
        padding: 0px;
        width: .95rem;
        height: .95rem;
    }

    .ly-spot .spot-content {
        display: flex;
        width: 100%;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        background-color: #ffed00;
    }

    .ly-spot .spot-content .spot-label {
        width: 100%;
        padding: 1rem;
        -webkit-transform: translateX(-.4rem);
        transform: translateX(-.4rem);
        font-size: .7rem;
        line-height: 105%;
        -webkit-transition: background-color .3s ease;
        transition: background-color .3s ease;
        font-weight: bold;
        text-align: left;
    }

    .ly-spot .spot-content .arrow-next {
        display: inline-block;
        width: .95rem;
        height: .95rem;
        margin: 0 1rem;
    }

    /* Contact 영역 */
    .ly-contact {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0px;
        background-color: #ffed00;
        z-index: 9999;
        border-top: 1px solid #dadada;
        transform: unset;
        top: unset;
    }

    .contact-wrap {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0px;
        padding: 0px;
        justify-content: space-around;
    }

    .contact-wrap .contact-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem .8rem;
        cursor: pointer;
    }

    .contact-wrap .contact-cell .icon-box {
        width: 1.2rem;
        margin-bottom: .3rem;
    }

    .contact-wrap .contact-cell .icon-box.big{
        width: 1.8rem;
        margin-bottom: .4rem;
    }

    .contact-wrap .contact-cell .desc{
        font-size: .8rem;
    }

    .line, .ly-quick-access { display: none; }

     /* 모바일 전용 배경색 추가 */
    .m-bg-incentive { background-color: #339966 !important; border-color: rgba(51,153,102,.5) !important; }
    .m-bg-infra { background-color: #333366 !important; border-color: rgba(51,51,102,.5) !important; }
    .m-bg-service { background-color: #009999 !important; border-color: rgba(0,153,153,.5) !important; }
}

@media screen and (max-width:1030px) {}
@media screen and (max-width:992px) {}
@media screen and (max-width:767px) {}